# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
*/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/coverage/base.css
client/coverage/block-navigation.js
client/coverage/clover.xml
client/coverage/coverage-final.json
client/coverage/favicon.png
client/coverage/index.html
client/coverage/lcov.info
client/coverage/prettify.css
client/coverage/prettify.js
client/coverage/Search.jsx.html
client/coverage/sort-arrow-sprite.png
client/coverage/sorter.js
client/coverage/api/index.html
client/coverage/api/index.js.html
client/coverage/api/spotify.js.html
client/coverage/components/index.html
client/coverage/components/ManageData.jsx.html
client/coverage/components/common/Button.jsx.html
client/coverage/components/common/Card.jsx.html
client/coverage/components/common/CardGroup.jsx.html
client/coverage/components/common/CommafyArtists.jsx.html
client/coverage/components/common/FollowBtn.jsx.html
client/coverage/components/common/GreenRoundPlayBtn.jsx.html
client/coverage/components/common/index.html
client/coverage/components/common/List.jsx.html
client/coverage/components/common/ListHeader.jsx.html
client/coverage/components/common/OverlayMenu.jsx.html
client/coverage/components/common/PlaceHolderImg.jsx.html
client/coverage/components/common/playTools.jsx.html
client/coverage/components/common/ScrollBar.jsx.html
client/coverage/components/common/SectionHeader.jsx.html
client/coverage/components/common/Slider.jsx.html
client/coverage/components/common/Subtitle.jsx.html
client/coverage/components/layout/bottom/BottomContainer.jsx.html
client/coverage/components/layout/bottom/index.html
client/coverage/components/layout/bottom/player/Controls.jsx.html
client/coverage/components/layout/bottom/player/CurrentPlayingInfo.jsx.html
client/coverage/components/layout/bottom/player/ExtraControls.jsx.html
client/coverage/components/layout/bottom/player/index.html
client/coverage/components/layout/bottom/player/PlaybackBar.jsx.html
client/coverage/components/layout/bottom/player/SdkInitializer.jsx.html
client/coverage/components/layout/left/index.html
client/coverage/components/layout/left/LeftContainer.jsx.html
client/coverage/components/layout/left/PlaylistsSidebar.jsx.html
client/coverage/components/layout/left/SideBar.jsx.html
client/coverage/components/layout/main/Contents.jsx.html
client/coverage/components/layout/main/index.html
client/coverage/components/layout/main/MainContent.jsx.html
client/coverage/components/layout/main/PopularSongList.jsx.html
client/coverage/components/layout/main/SectionOfCards.jsx.html
client/coverage/components/layout/main/Header/AlbumHeader.jsx.html
client/coverage/components/layout/main/Header/ArtistHeader.jsx.html
client/coverage/components/layout/main/Header/Header.jsx.html
client/coverage/components/layout/main/Header/index.html
client/coverage/components/layout/main/Header/PlaylistHeader.jsx.html
client/coverage/components/layout/main/Header/UserHeader.jsx.html
client/coverage/components/layout/top/CollectionsNav.jsx.html
client/coverage/components/layout/top/HistoryManager.jsx.html
client/coverage/components/layout/top/index.html
client/coverage/components/layout/top/SearchBar.jsx.html
client/coverage/components/layout/top/TopContainer.jsx.html
client/coverage/components/layout/top/UserDropdown.jsx.html
client/coverage/contexts/index.html
client/coverage/contexts/userData.js.html
client/coverage/lcov-report/index.html
client/coverage/lcov-report/components/layout/main/Header/index.html
client/coverage/lcov-report/components/layout/main/Header/UserHeader.jsx.html
client/coverage/lcov-report/pages/User/index.html
client/coverage/lcov-report/pages/User/User.jsx.html
client/coverage/lcov-report/services/generators.js.html
client/coverage/lcov-report/services/index.html
client/coverage/lcov-report/src/App.js.html
client/coverage/lcov-report/src/index.html
client/coverage/lcov-report/src/index.js.html
client/coverage/lcov-report/src/setupProxy.js.html
client/coverage/lcov-report/src/components/Button.jsx.html
client/coverage/lcov-report/src/components/index.html
client/coverage/lcov-report/src/components/TopContainer.jsx.html
client/coverage/lcov-report/src/components/UserInfo.jsx.html
client/coverage/lcov-report/src/utils/auth.js.html
client/coverage/lcov-report/src/utils/axiosGlobalConfig.js.html
client/coverage/lcov-report/src/utils/hash.js.html
client/coverage/lcov-report/src/utils/index.html
client/coverage/lcov-report/test/fixtures/index.html
client/coverage/lcov-report/test/fixtures/responseObj.js.html
client/coverage/lcov-report/test/fixtures/userDataObj.js.html
client/coverage/pages/Album.jsx.html
client/coverage/pages/Artist.jsx.html
client/coverage/pages/Home.jsx.html
client/coverage/pages/index.html
client/coverage/pages/Loading.jsx.html
client/coverage/pages/NoMatch.jsx.html
client/coverage/pages/NotLoginPage.jsx.html
client/coverage/pages/Playlist.jsx.html
client/coverage/pages/Queue.jsx.html
client/coverage/pages/Collections/AlbumLibrary.jsx.html
client/coverage/pages/Collections/ArtistsLibrary.jsx.html
client/coverage/pages/Collections/index.html
client/coverage/pages/Collections/Library.jsx.html
client/coverage/pages/Collections/NoCollectionsSign.jsx.html
client/coverage/pages/Collections/PlaylistLibrary.jsx.html
client/coverage/pages/Search/index.html
client/coverage/pages/Search/RecommendedSearch.jsx.html
client/coverage/pages/Search/SearchPage.jsx.html
client/coverage/pages/Search/SearchResult.jsx.html
client/coverage/pages/User/index.html
client/coverage/pages/User/User.jsx.html
client/coverage/pages/see-alls/Discography.jsx.html
client/coverage/pages/see-alls/index.html
client/coverage/pages/see-alls/SearchTracks.jsx.html
client/coverage/pages/see-alls/SeeAllRouteHandler.jsx.html
client/coverage/services/auth.js.html
client/coverage/services/general.js.html
client/coverage/services/generators.js.html
client/coverage/services/index.html
client/coverage/services/spotify/album.js.html
client/coverage/services/spotify/artists.js.html
client/coverage/services/spotify/follow.js.html
client/coverage/services/spotify/index.html
client/coverage/services/spotify/player.js.html
client/coverage/services/spotify/playlist.js.html
client/coverage/services/spotify/Search.jsx.html
client/coverage/services/spotify/user.js.html
client/coverage/src/App.js.html
client/coverage/src/index.html
client/coverage/src/index.js.html
client/coverage/src/jest.config.js.html
client/coverage/src/reportWebVitals.js.html
client/coverage/src/setupProxy.js.html
client/coverage/src/setupTests.js.html
client/coverage/src/api/index.html
client/coverage/src/api/index.js.html
client/coverage/src/api/spotify.js.html
client/coverage/src/components/index.html
client/coverage/src/components/ManageData.jsx.html
client/coverage/src/components/common/Button.jsx.html
client/coverage/src/components/common/Card.jsx.html
client/coverage/src/components/common/CardGroup.jsx.html
client/coverage/src/components/common/CommafyArtists.jsx.html
client/coverage/src/components/common/FollowBtn.jsx.html
client/coverage/src/components/common/GreenRoundPlayBtn.jsx.html
client/coverage/src/components/common/index.html
client/coverage/src/components/common/List.jsx.html
client/coverage/src/components/common/ListHeader.jsx.html
client/coverage/src/components/common/OverlayMenu.jsx.html
client/coverage/src/components/common/PlaceHolderImg.jsx.html
client/coverage/src/components/common/playTools.jsx.html
client/coverage/src/components/common/ScrollBar.jsx.html
client/coverage/src/components/common/SectionHeader.jsx.html
client/coverage/src/components/common/Slider.jsx.html
client/coverage/src/components/common/Subtitle.jsx.html
client/coverage/src/components/layout/bottom/BottomContainer.jsx.html
client/coverage/src/components/layout/bottom/index.html
client/coverage/src/components/layout/bottom/player/Controls.jsx.html
client/coverage/src/components/layout/bottom/player/CurrentPlayingInfo.jsx.html
client/coverage/src/components/layout/bottom/player/ExtraControls.jsx.html
client/coverage/src/components/layout/bottom/player/index.html
client/coverage/src/components/layout/bottom/player/PlaybackBar.jsx.html
client/coverage/src/components/layout/bottom/player/SdkInitializer.jsx.html
client/coverage/src/components/layout/left/index.html
client/coverage/src/components/layout/left/LeftContainer.jsx.html
client/coverage/src/components/layout/left/PlaylistsSidebar.jsx.html
client/coverage/src/components/layout/left/SideBar.jsx.html
client/coverage/src/components/layout/main/Contents.jsx.html
client/coverage/src/components/layout/main/index.html
client/coverage/src/components/layout/main/MainContent.jsx.html
client/coverage/src/components/layout/main/PopularSongList.jsx.html
client/coverage/src/components/layout/main/SectionOfCards.jsx.html
client/coverage/src/components/layout/main/Header/AlbumHeader.jsx.html
client/coverage/src/components/layout/main/Header/ArtistHeader.jsx.html
client/coverage/src/components/layout/main/Header/Header.jsx.html
client/coverage/src/components/layout/main/Header/index.html
client/coverage/src/components/layout/main/Header/PlaylistHeader.jsx.html
client/coverage/src/components/layout/main/Header/UserHeader.jsx.html
client/coverage/src/components/layout/top/CollectionsNav.jsx.html
client/coverage/src/components/layout/top/HistoryManager.jsx.html
client/coverage/src/components/layout/top/index.html
client/coverage/src/components/layout/top/SearchBar.jsx.html
client/coverage/src/components/layout/top/TopContainer.jsx.html
client/coverage/src/components/layout/top/UserDropdown.jsx.html
client/coverage/src/contexts/index.html
client/coverage/src/contexts/userData.js.html
client/coverage/src/pages/Album.jsx.html
client/coverage/src/pages/Artist.jsx.html
client/coverage/src/pages/Home.jsx.html
client/coverage/src/pages/index.html
client/coverage/src/pages/Loading.jsx.html
client/coverage/src/pages/NoMatch.jsx.html
client/coverage/src/pages/NotLoginPage.jsx.html
client/coverage/src/pages/Playlist.jsx.html
client/coverage/src/pages/Queue.jsx.html
client/coverage/src/pages/Collections/AlbumLibrary.jsx.html
client/coverage/src/pages/Collections/ArtistsLibrary.jsx.html
client/coverage/src/pages/Collections/index.html
client/coverage/src/pages/Collections/Library.jsx.html
client/coverage/src/pages/Collections/NoCollectionsSign.jsx.html
client/coverage/src/pages/Collections/PlaylistLibrary.jsx.html
client/coverage/src/pages/Search/index.html
client/coverage/src/pages/Search/RecommendedSearch.jsx.html
client/coverage/src/pages/Search/SearchPage.jsx.html
client/coverage/src/pages/Search/SearchResult.jsx.html
client/coverage/src/pages/User/index.html
client/coverage/src/pages/User/User.jsx.html
client/coverage/src/pages/see-alls/Discography.jsx.html
client/coverage/src/pages/see-alls/index.html
client/coverage/src/pages/see-alls/SearchTracks.jsx.html
client/coverage/src/pages/see-alls/SeeAllRouteHandler.jsx.html
client/coverage/src/services/auth.js.html
client/coverage/src/services/general.js.html
client/coverage/src/services/generators.js.html
client/coverage/src/services/index.html
client/coverage/src/services/spotify/album.js.html
client/coverage/src/services/spotify/artists.js.html
client/coverage/src/services/spotify/follow.js.html
client/coverage/src/services/spotify/index.html
client/coverage/src/services/spotify/player.js.html
client/coverage/src/services/spotify/playlist.js.html
client/coverage/src/services/spotify/Search.jsx.html
client/coverage/src/services/spotify/user.js.html
client/coverage/src/test/fixtures/index.html
client/coverage/src/test/fixtures/responseObj.js.html
client/coverage/src/test/fixtures/userDataObj.js.html
client/coverage/src/utils/getTotalLengthOfTracks.js.html
client/coverage/src/utils/hash.js.html
client/coverage/src/utils/index.html
client/coverage/src/utils/localStorageService.js.html
client/coverage/src/utils/prettyMS.js.html
client/coverage/src/utils/spotifyHelper.js.html
client/coverage/test/fixtures/index.html
client/coverage/test/fixtures/responseObj.js.html
client/coverage/test/fixtures/userDataObj.js.html
client/coverage/utils/getTotalLengthOfTracks.js.html
client/coverage/utils/hash.js.html
client/coverage/utils/index.html
client/coverage/utils/localStorageService.js.html
client/coverage/utils/prettyMS.js.html
client/coverage/utils/spotifyHelper.js.html
client/coverage/clover.xml
client/coverage/coverage-final.json
client/coverage/lcov.info
client/coverage/lcov-report/index.html
client/coverage/lcov-report/src/App.js.html
client/coverage/lcov-report/src/index.html
client/coverage/lcov-report/src/index.js.html
client/coverage/lcov-report/src/setupProxy.js.html
client/coverage/lcov-report/src/components/Button.jsx.html
client/coverage/lcov-report/src/components/index.html
client/coverage/lcov-report/src/components/TopContainer.jsx.html
client/coverage/lcov-report/src/components/UserInfo.jsx.html
client/coverage/lcov-report/src/utils/auth.js.html
client/coverage/lcov-report/src/utils/axiosGlobalConfig.js.html
client/coverage/lcov-report/src/utils/hash.js.html
client/coverage/lcov-report/src/utils/index.html
